<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
    <style>
      body {
        background-image: linear-gradient(135deg, #8a2be2, #4169e1);
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
      }
      button {
        border-radius: 15px;
        border-style: none;
        background-color: #8a2be2;
        padding: 9px 10px;
        color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        transition: background-color 0.4s ease-in-out;
        cursor: pointer;
      }
      button:hover {
        background-color: #7a1dd1;
      }
    </style>
  </head>
  <body style="text-align: center; padding-top: 10px">
    <h1 style="font-size: 60px">EC2</h1>
    <!-- Photo -->
    <img
      src="./images/ARahim_pfp.jpeg"
      alt="Your Photo"
      style="width: 300px; height: 300px; object-fit: cover; border-radius: 50%"
    />

    <!-- Name -->
    <h1 style="font-size: 60px; margin-top: 20px">Abdur Rahim Mansoori</h1>

    <!-- Click Here Button -->
    <a href="/skills">
      <button style="padding: 10px 10px; font-size: 30px; cursor: pointer">
        Click Here
      </button>
    </a>
  </body>
</html>
